.scroll-container {
    position: fixed;
    bottom: 32px; /* Tailwind bottom-8 */
    right: 32px; /* Tailwind right-8 */
    z-index: 99;
}

.scroll-button {
    display: flex;
    height: 40px; /* Tailwind h-10 */
    width: 40px; /* Tailwind w-10 */
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 6px; /* Tailwind rounded-md */
    background-color: #4a6cf7; /* Tailwind bg-primary */
    color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Tailwind shadow-md */
    transition: all 0.3s ease;
}

.scroll-button:hover {
    background-color: rgba(74, 108, 247, 0.8); /* hover:bg-opacity-80 */
    box-shadow: 0 4px 12px rgba(74, 108, 247, 0.4); /* hover:shadow-signUp */
}

.scroll-arrow {
    margin-top: 6px; /* Tailwind mt-[6px] */
    height: 12px; /* Tailwind h-3 */
    width: 12px; /* Tailwind w-3 */
    transform: rotate(45deg);
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
}