.hero_section {
    padding: 0 100px;
    height: calc(100vh - 70px);
    background: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}

.hero_section > div {
    flex: 1;

}

.image_container {
    /* background-color: #81afdd; */
    background: linear-gradient(135deg, #031b34, #81afdd);
    /* background: linear-gradient(120deg, #001f3f, #0e7490); */
    /* Example color or image background */
    animation: randomBorderRadius 30s infinite ease-in-out;
}

.image_container img {
    object-fit: contain;
    height: 150%;
    width: 90%;
    animation: zoomInOut 60s ease-in-out infinite both;
}

.blur_bg {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: relative;
}

.blur_bg > *:last-child {
    position: absolute;
    bottom: 50px;
}

.blur_bg h1 {
    font-family: poppins;
    font-size: 2.8rem;
    margin-bottom: 10px;
    color: #031b34;
    animation: slideIn 1.5s;
    animation-timing-function: cubic-bezier();
    letter-spacing: 1px;
}

.blur_bg h1 span {
    /* color: #20B2AA; */
    color: #81afdd;
}

.blur_bg p {
    font-family: poppins;
    color: grey;
    margin-bottom: 40px;
    animation: slideIn 1.75s;
    animation-timing-function: cubic-bezier();
}

.blur_bg button {
    font-family: poppins;
    font-weight: 600;
    width: 150px;
    padding: .6rem 2rem;
    outline: none;
    border: 1px solid #031b34;
    background-color: #031b34;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
    animation: slideIn 1.9s;
    animation-timing-function: cubic-bezier();
    margin-bottom: 20px;
}


.blur_bg button:hover {
    background-color: transparent;
    color: #031b34;
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
        /* Initial position */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Final position */
    }
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
        /* Initial scale */
    }

    50% {
        transform: scale(1.05);
        /* Slight zoom in */
    }

    100% {
        transform: scale(1);
        /* Back to original size */
    }
}

@keyframes randomBorderRadius {
    0% {
        border-radius: 20% 50% 40% 60%;
    }

    10% {
        border-radius: 50% 30% 70% 40%;
    }

    20% {
        border-radius: 40% 60% 50% 30%;
    }

    30% {
        border-radius: 30% 70% 60% 50%;
    }

    40% {
        border-radius: 60% 40% 70% 30%;
    }

    50% {
        border-radius: 50% 60% 40% 70%;
    }

    60% {
        border-radius: 30% 50% 60% 40%;
    }

    70% {
        border-radius: 60% 30% 40% 50%;
    }

    80% {
        border-radius: 70% 60% 50% 30%;
    }

    90% {
        border-radius: 40% 70% 30% 60%;
    }

    100% {
        border-radius: 20% 50% 40% 60%;
    }
}