.list-unstyled {
    text-align: center;
    margin: auto;
    background-image: url("public/circuit-background1.jpg");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.5;

}