.theme-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e5e7eb; /* gray-200 */
    color: #000;
}

@media (min-width: 768px) {
    .theme-toggler {
        height: 56px;
        width: 56px;
    }
}

.dark-theme .theme-toggler {
    background-color: #1f2937; /* dark background */
    color: #fff;
}

.theme-icon {
    height: 20px;
    width: 20px;
}

@media (min-width: 768px) {
    .theme-icon {
        height: 24px;
        width: 24px;
    }
}

.light-icon {
    display: block;
}

.dark-icon {
    display: none;
}

.dark-theme .light-icon {
    display: none;
}

.dark-theme .dark-icon {
    display: block;
}