.tag-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px; /* Tailwind mb-3 */
    margin-right: 12px; /* Tailwind mr-3 */
    padding: 8px 16px; /* Tailwind px-4 py-2 */
    font-size: 0.875rem; /* Tailwind text-sm */
    font-weight: 500;
    border-radius: 6px; /* Tailwind rounded-sm */
    background-color: #f3f4f6; /* Tailwind bg-gray-light */
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
}

.tag-button:hover {
    background-color: #4a6cf7; /* Tailwind hover:bg-primary */
    color: #fff; /* Tailwind hover:text-white */
}

.dark-theme .tag-button {
    background-color: #2c303b; /* Tailwind dark:bg-[#2C303B] */
    color: #fff; /* Tailwind dark:text-white */
}

.dark-theme .tag-button:hover {
    background-color: #4a6cf7; /* Tailwind dark:hover:bg-primary */
    color: #fff;
}